# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# composer vendor dir
/vendor

#/composer.lock

# local phpunit config
.phpunit.cache

# Codeception
c3.php
# Codeception reports
Tests/_output

# generated autodocs
.phpdoc
docs/*

# Enso and Yii runtimes
config/.merge-plan.php
runtime/*

# RoadRunner binary
rr
